<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="#" class="text-success">
                                    <span><img src="assets/image/logo.png" alt="logo" height="150"></span>
                                </a>
                            </h2>
                        </div>
                        <div class="account-content">
                            <div class="m-b-20 text-center">
                                <p class="text-muted m-t-10"> A email has been send to <b>youremail@domain.com</b>.
                                    Please check for an email from company and click on the included link to
                                    reset your password. </p>
                                <a class="btn btn-primary btn-rounded btn-sm waves-effect waves-light m-t-30">Back to Home</a>
                            </div>
                        </div>
                    </div> 
                    <!-- end card-body-->
                </div>
                <!-- end wrapper -->
            </div>
        </div>
    </div>
  </section>