#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.content-page {
  margin-left: 240px;
  overflow: hidden;
}
.content-page .content {
  padding: 0 15px 10px 15px;
  margin-top: 70px;
}
  .side-menu .waves-effect .waves-ripple {
    background-color: rgba(52, 140, 212, 0.4);
  }
  #sidebar-menu {
    padding-top: 10px;
}
.metismenu li {
  display: block;
  width: 100%;
}
#sidebar-menu > ul > li > a {
  color: #313a46;
  display: block;
  padding: 13px 25px;
  font-size: 14.2px;
  position: relative;
}
#sidebar-menu ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin: 0 15px 0 3px;
  text-align: center;
  width: 20px;
  color: rgba(49, 58, 70, 0.8);
}
 .footer {
    background-color: #ebebeb;
    bottom: 0;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0;
    left: 240px;
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #98a6ad;
  font-family: "Poppins", sans-serif;
}
.side-menu {
  width: 240px;
  z-index: 10;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 71px;
  border-right: 1px solid #e6e6e6;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
}
#sidebar-menu > ul > li > a.active {
  color: #313a46 !important;
  background-color: #f9f9f9;
}